.env
/.github/OBUCON_STYLE_GUIDE.md
/.github/API_TEMPLATE.md

# IDE
.vscode/

# Python
__pycache__/
*.pyc
.pytest_cache/

# Terraform
**/*.tfvars
**/.terraform/
**/.terraform.lock.hcl
**/*.tfstate
**/*.tfstate.*
**/*.tfplan
/infra/README.md
/.claude